[Unit]
Description=Collatz Conjecture
RequiresMountsFor=/var/www/Collatz-Conjecture/src/
[Service]
Type=forking
ExecStart=./run
[Install]
WantedBy=multi-user.target
