[Unit]
Description=Collatz Conjecture
RequiresMountsFor=/var/www/Collatz-Conjecture/src/
[Service]
Type=forking
ExecStart=$(cd /var/www/Collatz-Conjecture/src/ && ./run)
[Install]
WantedBy=multi-user.target
