[Unit]
Description=Collatz Conjecture
[Service]
Type=simple
ExecStart=/var/www/Collatz-Conjecture/src/run
PIDFile=/tmp/collatz.pid
[Install]
WantedBy=multi-user.target
